# 忽略目录/文件
dist/docs
dist/lib/**.html
docs
lib
node_modules
public
scripts
src

# 忽略指定文件
yarn.lock
babel.config.js
tsconfig.json
tslint.json
jsconfig.json
vue.config.js

.eslintrc.js
.eslintignore
.prettierrc.js
.browserslistrc

.github
.vscode
.editorconfig
.travis.yml
